# Configuración de Puertos (Elegidos para evitar conflictos en el sistema)
APP_PORT=8085
DB_PORT=3308
PMA_PORT=8086

# Configuración de Base de Datos MySQL
DB_NAME=botica_db
DB_USER=root
DB_ROOT_PASSWORD=botica_root_2026
DB_PASSWORD=botica_root_2026

# Suite Nativa de Accesibilidad Web (Opcional - Valores por defecto)
A11Y_ENABLED=true
A11Y_POSITION=bottom-right
A11Y_VOICE_READER=true
